# Negeer volledige virtuele environments
venv/
env/
.venv/
.chat/

# Specifiek voor jouw experiment folder structuur
experiment/chromadb/chromadb/
experiment/chromadb/.venv/

# Ignore secrets
.env

# Ignore local database files
*.sqlite3
*.bin
experiment/chromadb/data/


# Python standaard negeren
__pycache__/
*.pyc
*.pyd
*.pyo

# Grote binaire bestanden en libraries
*.dll
*.so
*.dylib
**/site-packages/

# IDE en OS bestanden
.vscode/
.idea/
.DS_Store

# Image files in de root folder (de gegenereerde PCA plots na creatie van de database)
/*.png
