## Python libraries ##################################################################################################
#

chromadb
pandas
openpyxl
requests
matplotlib
seaborn
scikit-learn
sentence-transformers
huggingface_hub[hf_xet]
openai